/* Make font Arial for whole text*/
body {
	font-family: Arial;
  }
  /* Make headers centered*/
  h1,h3 {
	text-align: center;
  }
  /* Style flexboc by making it max width and height, and make the direction up and down into cols*/
  .flexbox{
	max-height: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: left;
  }
/* Make flexbox width 50%*/
  .flexbox1 {
	max-width: 60%;
  }
  .flexbox2 {
    text-align: left;
	 max-width: 40%;
  }

  svg.graph {
    height: 800px;
    width: 800px;
  }
  
  svg.graph .grid {
    stroke: white;
    stroke-dasharray: 1 2;
    stroke-width: 1;
  }
    /*svg.graph .points {
    stroke: white;
    stroke-width: 3;
  }
  svg.graph .first_set {
    fill: #00554d;
  }*/

  circle{
    fill: #00554d;
    stroke: white;
    stroke-width: 3;
  }
  circle:hover{
    fill: Red;
    stroke-width: 3;
  }

.circle-click{
  fill: #00554d;
  stroke: greenyellow;
  stroke-width: 3;
}


